@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
* :before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
a {
  color: #007bff;
  cursor: pointer;
}
a:hover {
  color: #3e5c9a;
}
.sidebar a {
  color: #55acee;
}
.sidebar a:hover {
  color: #3e5c9a;
}
hr {
  border-bottom-color: #0b0b0b;
  margin: 20px 0;
}
.sidebar hr {
  margin: 12px 0;
}
ul {
  /*list-style: disc;*/
  /*margin-left: 16px;*/
}
ul li {
  margin-top: 4px;
}
