@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
* :before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 18px;
  font-weight: 500;
}
h4 {
  font-size: 16px;
}
a {
  color: #007bff;
  cursor: pointer;
}
a:hover {
  color: #3e5c9a;
}
.sidebar a {
  color: #55acee;
}
.sidebar a:hover {
  color: #3e5c9a;
}
hr {
  border-color: #D0D5DD;
  margin: 12px 0 20px 0;
}
ul li {
  margin-top: 8px;
  font-weight: 300;
}
span {
  font-size: 12px;
}

@keyframes rotate {
  0 % {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.background {
  background: #053a7d;
}
.sidebar {
  background: #001235;
}
.paper {
  background: #ffffff;
}
.out-top {
  fill: #002855;
  animation: rotate 100s linear infinite;
  transform-origin: 13px 25px;
}
.in-top {
  fill: #001233;
  animation: rotate 80s linear infinite;
  transform-origin: 13px 25px;
}
.out-bottom {
  fill: #002045;
  animation: rotate 100s linear infinite;
  transform-origin: 84px 93px;
}
.in-bottom {
  fill: #001233;
  animation: rotate 80s linear infinite;
  transform-origin: 84px 93px;
}
