@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
* :before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}
h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}
h3 {
  font-size: 16px;
  font-weight: 500;
}
h4 {
  font-size: 14px;
}
.expand-btn {
  border: #007bff solid 1px;
  border-radius: 4px;
  padding: 4px 7px;
  overflow: hidden;
  transition: width 0.5s;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 32px;
  width: 32px;
}
.download-pdf:hover {
  border-color: #3e5c9a;
  width: 112px;
}
.portfolio-btn:hover {
  border-color: #3e5c9a;
  width: 112px;
}
.expand-btn span {
  white-space: nowrap;
  margin: 0 8px;
}

@media print {
  .portfolio-btn {
    width: 112px;
  }
  a {
    color: black !important;
  }
  .sidebar {
    background: #fff !important;
    color: #000 !important;
  }
}

.sidebar {
  background: #001235;
  color: #fff;
}
.sidebar a {
  color: #55acee;
}
.sidebar a:hover {
  color: #3e5c9a;
}

a {
  color: #007bff;
  cursor: pointer;
}
a:hover {
  color: #3e5c9a;
}

hr {
  border-color: #d0d5dd;
  margin: 12px 0 12px 0;
}
ul li {
  margin-top: 8px;
  font-weight: 300;
  font-size: 13px;
}
span {
  font-size: 10px;
}

.page-break {
  page-break-after: always;
}
.skills-icons {
  max-width: 600px;
  margin: auto;
}

@keyframes rotate {
  0 % {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.background {
  background: #053a7d;
}

.paper {
  background: #ffffff;
}
.out-top {
  fill: #002855;
  animation: rotate 100s linear infinite;
  transform-origin: 13px 25px;
}
.in-top {
  fill: #001233;
  animation: rotate 80s linear infinite;
  transform-origin: 13px 25px;
}
.out-bottom {
  fill: #002045;
  animation: rotate 100s linear infinite;
  transform-origin: 84px 93px;
}
.in-bottom {
  fill: #001233;
  animation: rotate 80s linear infinite;
  transform-origin: 84px 93px;
}
